@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-family: "Rubik", sans-serif;
  --primary: #5a43f4;
  --secondary: #f5db33;
  --accent: #757153;
  --text-primary: #43424b;
  --text-secondary: #e0e0e0;
}

* {
  font-family: var(--font-family);
}
