.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 200px;
  border-radius: 2px;
}

.cardTitle {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1rem;
}

.cardContent {
  font-size: 1.175rem;
  padding: 1rem;
  text-align: center;
}

.card-basic-primary {
  background-color: var(--primary);
  color: var(--text-secondary);
}

.card-basic-secondary {
  background-color: var(--secondary);
  color: var(--text-primary);
}

.card-outline-primary {
  background-color: inherit;
  border: 4px solid var(--primary);
  color: var(--text-primary);
}

.card-outline-secondary {
  background-color: none;
  border: 4px solid var(--secondary);
  color: var(--text-primary);
}
